@inherits LayoutComponentBase
<BlazoredToasts />

<div>
    <NavMenu />
</div>

<div class="container-fluid content position-relative h-100">
    @Body
</div>
<footer class="border-top footer">
    <div class="container d-none d-lg-block">
        <label>© 2024 - Galaxy Training <i class="bi bi-arrow-through-heart"></i></label>
        <NavLink class="text-dark" href="https://galaxy.edu.pe" target="_blank">Saber más</NavLink>
    </div>
</footer>

